## Exercício 1: Exploração Básica

- Quantas linhas e colunas tem o dataset?
- Quais são os tipos de dados de cada coluna?
- Verifique quantos valores ausentes existem em cada coluna.
- Calcule estatísticas descritivas das colunas numéricas (média, mediana, etc.).

## Exercício 2: Filtragem e Seleção

- Selecione apenas os passageiros que sobreviveram.
- Selecione apenas os passageiros da 1ª classe.
- Selecione os passageiros que pagaram mais de $100 de tarifa E sobreviveram.
- Selecione as mulheres que estavam na 1ª ou 2ª classe.

## Exercício 3: Ordenação

- Ordene os passageiros pela idade (do mais velho para o mais novo).
- Ordene os passageiros por classe e depois por tarifa (do mais caro para o mais barato).
- Encontre os 5 passageiros que pagaram as tarifas mais altas.

## Exercício 4: Tratamento de Valores Ausentes

- Conte quantos passageiros não têm idade registrada.
- Preencha as idades ausentes com a idade média.
- Crie uma coluna 'idade_categoria' que classifique os passageiros em 'criança' (< 18), 'adulto' (18-60) e 'idoso' (> 60).
- Remova completamente qualquer linha que ainda tenha dados ausentes após o tratamento da idade.

## Exercício 5: Agrupamento e Agregação

- Calcule a taxa de sobrevivência (percentual) por gênero.
- Calcule a idade média dos passageiros por classe.
- Para cada combinação de classe e sexo, calcule:
  Número de passageiros
  Taxa de sobrevivência
  Tarifa média


Identifique qual grupo (por classe e sexo) teve a maior taxa de sobrevivência.

## Exercício 6: Criação e Manipulação de Colunas

- Crie uma coluna 'família_tamanho' somando 'sibsp' (irmãos/cônjuges) e 'parch' (pais/filhos).
- Crie uma coluna 'viajando_sozinho' que seja True para quem tem 'família_tamanho' = 0.
- Crie uma coluna 'tarifa_por_pessoa' dividindo a tarifa pelo tamanho da família (mais 1, para incluir o próprio passageiro).

## Exercício 7: Merge e Combinação de Dados

- Divida o dataset em dois: um com informações pessoais (nome, idade, sexo) e outro com informações da viagem (classe, tarifa, cabine).
- Use merge para juntar os dois datasets novamente usando o índice como chave.
- Adicione uma coluna 'id_passageiro' e use-a como chave para um novo merge.

## Desafio Final: Análise Completa

Com base em todos os exercícios anteriores, crie um perfil dos passageiros que sobreviveram vs. os que não sobreviveram.
Identifique os 3 fatores que parecem mais determinantes para a sobrevivência.
Crie um DataFrame resumido que mostre as taxas de sobrevivência por combinações dos fatores que você identificou.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Carregar o dataset Titanic
titanic = sns.load_dataset('titanic')

# Visualizar as primeiras linhas para entender o dataset
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [6]:
print(titanic.info())
print(titanic.isna().sum())
print(titanic.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200