In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

titanic = sns.load_dataset("titanic")

print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [ ]:
"""
- Quantas linhas e colunas tem o dataset?
- Quais são os tipos de dados de cada coluna?
- Verifique quantos valores ausentes existem em cada coluna.
- Calcule estatísticas descritivas das colunas numéricas (média, mediana, etc.).
"""

print(titanic.info())
# 891 linhas e 15 colunas

print(titanic.isna().sum())

print(titanic.describe())

In [ ]:
"""
## Exercício 2: Filtragem e Seleção

- Selecione apenas os passageiros que sobreviveram.
- Selecione apenas os passageiros da 1ª classe.
- Selecione os passageiros que pagaram mais de $100 de tarifa E sobreviveram.
- Selecione as mulheres que estavam na 1ª ou 2ª classe.

"""

sobreviventes = titanic[titanic['survived'] == 1]
print(sobreviventes)

primeira_classe = titanic[titanic['class'] == 'First']
print(primeira_classe)

pagamento_maior_que_100 = titanic[(titanic['fare'] > 100) & (titanic['survived'] == 1)]
print(pagamento_maior_que_100)

mulheres_primeira_ou_segunda_classe = titanic[(titanic['sex'] == 'female') & (titanic['class'].isin(['First', 'Second']))]
print(mulheres_primeira_ou_segunda_classe)

In [ ]:
"""
## Exercício 3: Ordenação

- Ordene os passageiros pela idade (do mais velho para o mais novo).
- Ordene os passageiros por classe e depois por tarifa (do mais caro para o mais barato).
- Encontre os 5 passageiros que pagaram as tarifas mais altas.
"""

passageiros_mais_velhos = titanic[titanic['age'].notna()].sort_values(by='age', ascending=False)
print(passageiros_mais_velhos)

classe_e_tarifa = titanic.sort_values(by=['class','fare'],ascending=[True,False])
print(classe_e_tarifa)

passageiros_tarifa_mais_alta = titanic.nlargest(5, 'fare')
print(passageiros_tarifa_mais_alta)

In [ ]:
"""
## Exercício 4: Tratamento de Valores Ausentes

- Conte quantos passageiros não têm idade registrada.
- Preencha as idades ausentes com a idade média.
- Crie uma coluna 'idade_categoria' que classifique os passageiros em 'criança' (< 18), 'adulto' (18-60) e 'idoso' (> 60).
- Remova completamente qualquer linha que ainda tenha dados ausentes após o tratamento da idade.
"""

passageiros_sem_idade = titanic[titanic['age'].isna()]
print(passageiros_sem_idade)

print(titanic.fillna(method='ffill'))

# Usando np.select()
condições = [
    (titanic['age'] < 18),
    (titanic['age'] >= 18) & (titanic['age'] <= 60),
    (titanic['age'] > 60)
]

escolhas = ['criança', 'adulto', 'idoso']

# Criar a coluna baseada nas condições
titanic['idade_categoria'] = np.select(condições, escolhas, default='desconhecido')

# Verificar resultado
print(titanic[['age', 'idade_categoria']].head(10))

sem_ausentes = titanic.dropna()
print(sem_ausentes)

In [ ]:
"""
## Exercício 5: Agrupamento e Agregação

- Calcule a taxa de sobrevivência (percentual) por gênero.
- Calcule a idade média dos passageiros por classe.
- Para cada combinação de classe e sexo, calcule:
  Número de passageiros
  Taxa de sobrevivência
  Tarifa média

"""